.page-header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__logo {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    g {
      &:nth-of-type(2) {
        rect {
          transition: 0.4s all;
          transition-timing-function: ease-in;
          &:nth-of-type(1) {
            animation: opacityy 1.2s ease-in infinite;
            animation-delay: 0.4s;
          }
          &:nth-of-type(2) {
            animation: opacityy 1.2s ease-in infinite;
            animation-delay: 0.6s;
          }
          &:nth-of-type(3) {
            animation: opacityy 1.2s ease-in infinite;
            animation-delay: 0.2s;
          }
          &:nth-of-type(4) {
            animation: opacityy 1.2s ease-in infinite;
          }
        }
      }
    }
    &:hover {
      g {
        &:nth-of-type(2) {
          rect {
            &:nth-of-type(n) {
              animation: none;
            }
            //            &:nth-of-type(2) {
            //              opacity: 0;
            //            }
            //            &:nth-of-type(3) {
            //              opacity: 0;
            //            }
            //            &:nth-of-type(4) {
            //              opacity: 0;
            //            }
          }
        }
      }
    }
  }
  &__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    margin-top: 40px;
  }
}

@keyframes opacityy {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}