.scroll-cards {
  width: 500vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  &__item {
    width: 100vw;
    height: 100vh;
    background-color: green;
    position: absolute;
    top: 0;
    &:nth-child(1) {
      left: 0;
      background-color: aqua;
    }
    &:nth-child(2) {
      left: 100vw;
      background-color: aquamarine;
    }
    &:nth-child(3) {
      left: 200vw;
      background-color: blueviolet;
    }
    &:nth-child(4) {
      left: 300vw;
      background-color: brown;
    }
    &:nth-child(5) {
      left: 400vw;
      background-color: cadetblue;
    }
  }
}